<div class="!mt-10">
  <div class="border border-b-blue-600 !p-2 !mx-4">
    <div>
      <p class="text-center text-2xl font-black">1 + 2</p>
    </div>
    <div class="flex justify-center items-center">
      <div class="flex flex-col gap-2">
        <div class="flex gap-2">
          <button class="!p-4 border rounded-4xl">1</button>
          <button class="!p-4 border rounded-4xl">2</button>
          <button class="!p-4 border rounded-4xl">3</button>
        </div>
<!--        make a separate component for calculator-->
        <div class="flex gap-2">
          <button class="!p-4 border rounded-4xl">4</button>
          <button class="!p-4 border rounded-4xl">5</button>
          <button class="!p-4 border rounded-4xl">6</button>
        </div>
        <div class="flex gap-2">
          <button class="!p-4 border rounded-4xl">7</button>
          <button class="!p-4 border rounded-4xl">8</button>
          <button class="!p-4 border rounded-4xl">9</button>
        </div>
          <button class="!p-4 border rounded-4xl">0</button>
      </div>
      <div class="flex flex-col !ml-2 gap-2">
        <button class="border border-red-500 !p-4 rounded-4xl">:</button>
        <button class="border border-red-500 !p-4 rounded-4xl">X</button>
        <button class="border border-red-500 !p-4 rounded-4xl">-</button>
        <button class="border border-red-500 !p-4 rounded-4xl">+</button>
        <button class="border border-red-500 !p-4 rounded-4xl">=</button>
      </div>
    </div>
  </div>
</div>
